# Backend
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/star_observer
SPRING_DATASOURCE_USERNAME=star_observer
SPRING_DATASOURCE_PASSWORD=star_observer
WEATHER_API_BASE_URL=
WEATHER_API_KEY=
ASTRONOMY_API_BASE_URL=

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
